@import '../variables.css';
.loadingGif {
	width: 100%;
	min-height: 300px;
	text-align: center;
	overflow: hidden;
	.loadingImage {
		margin-top: 30px;
		max-width: 99%;
	}
	p {
		color: white;
		font-size: 1.25em;
		margin-bottom: 50px;
		line-height: 20px;
	}
}