/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.Feedback {
  background: rgba(255,255,255,.80);
  color: #333;
}

.Feedback-container {
  margin: 0 auto;
  padding: 8px;
  max-width: var(--max-content-width);
  text-align: center;
  font-size: 3em; /* ~24px */
}

.Feedback-link{
  transition-timing-function: ease-in;
  transition: all .1s;
  margin: auto 5%;
  color: #DD2476;
  text-decoration: none;
}
.Feedback-link:active,
.Feedback-link:visited {
  margin: auto 5%;
  color: #DD2476;
  text-decoration: none;
}

.Feedback-link:hover {
  text-decoration: underline;
}

.Feedback-spacer {
  padding-right: 15px;
  padding-left: 15px;
}
.Feedback-link:hover{
  margin: auto 5%;
  color: #783E98;
  text-decoration: none;
}
